# task 3

In [5]:
#remove()
l1 = ['sun', 'mars', 'moon', 'jupiter','earth']
l1.remove("sun")
print(l1)

['mars', 'moon', 'jupiter', 'earth']

In [7]:
#count()
l1 = ['sun','earth', 'mars', 'moon', 'jupiter','earth']
l1.count('earth')

2

In [8]:
#clear()
l1 = ['sun', 'mars', 'moon', 'jupiter','earth']
l1.clear()
print(l1)

[]

In [10]:
#sort
l1 = ['sun', 'mars', 'moon', 'jupiter','earth']
l1.sort()
print(l1)

['earth', 'jupiter', 'mars', 'moon', 'sun']

In [11]:
#reverse
l1 = ['sun', 'mars', 'moon', 'jupiter','earth']
l1.reverse()
print(l1)

['earth', 'jupiter', 'moon', 'mars', 'sun']

# task 4

In [12]:
#Add item 70 after 60 in the following Python List
#input
#l1 = [10, 20, [30, 40, [50, 60], 80], 90, 100]
#output
#[10, 20, [30, 40, [50, 60, 70], 80], 90, 100]

[10, 20, [30, 40, [50, 60, 70], 80], 90, 100]

In [16]:
l1 = [10, 20, [30, 40, [50, 60], 80], 90, 100]
l1[2][2]

[50, 60]

In [17]:
l1[2][2].append(70)
print(l1)

[10, 20, [30, 40, [50, 60, 70], 80], 90, 100]

In [19]:

#add sublist [7,8]
#input
#l2 = [1,2,[3,4,5,6],9]
#output
#[1,2,[3,4,5,6,[7,8]],9]

In [21]:
l2 = [1,2,[3,4,5,6],9]
l2[2].insert(4,[7,8])
print(l2)

[1, 2, [3, 4, 5, 6, [7, 8]], 9]

# task5

In [23]:

dict1 = { 
   "april_batch":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "python":80,
            "maths":70
         }
      }
   }
}

In [24]:
dict1['april_batch']['student']['name']

'Mike'

In [28]:
dict1['april_batch']['student']['marks']['python']

80

In [57]:
dict1['april_batch']['student']['name'] = 'shubhamsaini'

print(dict1)

{'april_batch': {'student': {'name': 'shubhamsaini', 'marks': {'python': 80, 'maths': 70, 'ML': 80, 'DL': 80, ('ML', 'DL'): 80}}}}

In [61]:
dict1['april_batch']['student']['marks']['ML'] = 80
dict1['april_batch']['student']['marks']['DL'] = 80
print(dict1)

{'april_batch': {'student': {'name': 'shubhamsaini', 'marks': {'python': 80, 'maths': 70, 'ML': 80, 'DL': 80, ('ML', 'DL'): 80}}}}