# task4 
 Add and remove the elements from a tuple. (Refer workaroud to modify the tuples#

In [5]:
#addition
tup = (1,2,3,4,'a','b','c','d')
tup

(1, 2, 3, 4, 'a', 'b', 'c', 'd')

In [7]:
list1 = list(tup)
list1

[1, 2, 3, 4, 'a', 'b', 'c', 'd']

In [8]:
list1.insert(2,"python")
list1

[1, 2, 'python', 3, 4, 'a', 'b', 'c', 'd']

In [11]:
tup1 = tuple(list1)
tup1

(1, 2, 'python', 3, 4, 'a', 'b', 'c', 'd')

In [13]:
#remove
tup1 = (1, 2, 'python', 3, 4, 'a', 'b', 'c', 'd')
tup1

(1, 2, 'python', 3, 4, 'a', 'b', 'c', 'd')

In [16]:
list2 = list(tup1)
list2

[1, 2, 'python', 3, 4, 'a', 'b', 'c', 'd']

In [18]:

list2.remove("python")
list2

[1, 2, 3, 4, 'a', 'b', 'c', 'd']

In [19]:
tup3 = tuple(list2)
tup3

(1, 2, 3, 4, 'a', 'b', 'c', 'd')

# Task5  
go through other inbuilt methods like

1) difference() 2) symmetric_difference()

In [21]:
a = {"red ", "blue", "green", "orange"}
b = {"apple", "mango", "banana", "orange"}
#1)diffrenece()
c = a.difference(b)
print(c)

{'green', 'red ', 'blue'}

In [22]:
#symmetric_difference()
a = {"red ", "blue", "green", "orange"}
b = {"apple", "mango", "banana", "orange"}
c = a.symmetric_difference(b)
print(c)

{'blue', 'apple', 'banana', 'green', 'mango', 'red '}